/* import bootstrap to set changes */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "@code-hike/mdx/dist/index.css";

$light-bg: #fdf6e3;
$lighter-bg: #fdfaef;
$light-fg: #586e75;
$light-fg-pressed: #85a6ae;
$light-shadow-pale: #c2ced2;
$light-shadow-rich: #aacdda;
$dark-bg: #002b36;
$dark-fg: #93a1a1;
$dark-brown: #ece2c7;
$dark-brown-shadow: #c0b8a2;
$blue: #aacdda;
$cyan: #2aa198;

$radius: 0.5rem;

:root {
  --link-blue: #85a6ae; // light-fg-pressed!
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif";
  background-color: $light-bg;

  > * a {
    text-decoration: none;
    color: unset;
    &:hover {
      color: $light-fg-pressed;
    }
  }

  > * h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inconsolata";
    font-weight: bold;
  }
}

$unpressed-textshadow: $light-shadow-pale;
$pressed-textshadow: $light-shadow-rich;

@mixin extrusion(
  $factor: 0.0125ch,
  $num-iterations,
  $textshadow,
  $illuminated
) {
  $shadow-values: ();

  @for $i from 1 through $num-iterations {
    $shadow-values: append(
      $shadow-values,
      $factor * $i $factor * $i $textshadow,
      comma
    );
  }

  // @if $illuminated {
  //   $shadow-values: append($shadow-values,
  //     0px 0px 20px $textshadow, comma
  //   );
  // }

  text-shadow: $shadow-values;
}

.user-select-none {
  user-select: none;
}

.extruded {
  $extrusion-amt: 0.0125ch;
  $extrusion-iterations: 16;

  $push-amt: 0.2;
  $hover-displacement: $extrusion-amt * $extrusion-iterations * $push-amt;
  $hover-extrusion-amt: $extrusion-amt * (1 - $push-amt);

  transition: text-shadow 500ms ease, transform 500ms ease;
  transform: translate(0ch, 0ch);
  @include extrusion(
    $extrusion-amt,
    $extrusion-iterations,
    $unpressed-textshadow,
    false
  );

  &:hover {
    transform: translate($hover-displacement, $hover-displacement);
    @include extrusion(
      $hover-extrusion-amt,
      $extrusion-iterations,
      $pressed-textshadow,
      false
    );
  }
}

.semi-extruded {
  $extrusion-amt: 0.0125ch;
  $extrusion-iterations: 16;

  $push-amt: 0.5;
  $final-extrusion-amt: $extrusion-amt * (1 - $push-amt);
  $translate-amt: $extrusion-amt * $extrusion-iterations * $push-amt;

  transition: color 500ms ease, text-shadow 500ms ease, transform 500ms ease;

  color: $light-fg-pressed;
  transform: translate($translate-amt, $translate-amt);
  @include extrusion(
    $final-extrusion-amt,
    $extrusion-iterations,
    $pressed-textshadow,
    true
  );
}

#content {
  min-height: calc(100vh - 100px);
}

.nav-row {
  background-color: $dark-brown;
  margin-bottom: 1rem;
  height: fit-content;
}

.foot-row {
  padding: 1rem;
  margin-bottom: 0rem;
  width: 100vw;
}

.container-fluid {
  background-color: $light-bg;
}

* {
  box-sizing: border-box;
}

* {
  border-color: #586e75;
  color: #586e75;
  --colorbox-foreground: #586e75;
  --colorbox-foreground-hovered: #58bad8;
}

.soft-shadow {
  box-shadow: 0px 0px 15px -8px $light-fg; //#eee8d5;
}

@mixin scaled-underline($sx: 0, $dir: bottom left) {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX($sx);
  height: 0.3ch;
  bottom: -0.1ch;
  left: 0;
  background-color: $light-fg;
  transform-origin: $dir;
  transition: transform 0.5s ease-out;
  z-index: -1;
}

.outgoing-link {
  user-select: none;
  white-space: pre;
  position: relative;
  width: fit-content;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 0.5ch;
    bottom: 0;
    left: 0;
    background-color: $light-fg;
    transform-origin: bottom left;
    transition: left 0.5s ease-out;
  }

  &:hover::after {
    left: 1ch;
  }
}

.selected-page {
  &::after {
    @include scaled-underline(1);
  }
}

.unselected-page {
  &::after {
    @include scaled-underline(0);
  }
}

.info-block {
  overflow: auto;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1rem;
  height: fit-content;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.info-header {
  display: flex;
  > * {
    margin: auto;
    margin-bottom: 1rem;
  }
}

#about-nav {
  display: inline-flex;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.soft-dark-shadow {
  box-shadow: 0px 0px 10px $dark-brown;
}

.soft-radius {
  border-radius: 1rem;
}

.soft-radius-outer {
  border-radius: 2rem;
}

.soft-border {
  border: 1rem solid $light-fg;
}

.nav-bg-color {
  background-color: $dark-brown;
}

.main-bg-color {
  background-color: $light-bg;
}

.tooltip-bg-color {
  background-color: $lighter-bg;
}

.classic-border {
  border: 5px solid $light-fg;
}
