/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "@code-hike/mdx/dist/index.css";

$light-bg: #fdf6e3;
$light-fg: #586e75;
$light-shadow: #aacdda;
$dark-bg: #002b36;
$dark-fg: #93a1a1;
$dark-brown: #ece2c7;
$dark-brown-shadow: #c0b8a2;
$blue: #aacdda;
$cyan: #2aa198;

$radius: 0.5rem;

:root {
  --link-blue: #aacdda;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif";
  background-color: $light-bg;

  > * a {
    text-decoration: none;
    color: unset;
  }

  > * h1, h2, h3, h4, h5, h6 {
    font-family: "Inconsolata";
    font-weight: bold;
  }
}


.size-transition {
  transition: 500ms ease all;
}

$textshadow: $light-shadow;

@mixin extrusion($factor: 0.0125ch) {
  text-shadow:
    $factor*1 $factor*1 $textshadow,
    $factor*2 $factor*2 $textshadow,
    $factor*3 $factor*3 $textshadow,
    $factor*4 $factor*4 $textshadow,
    $factor*5 $factor*5 $textshadow,
    $factor*6 $factor*6 $textshadow,
    $factor*7 $factor*7 $textshadow,
    $factor*8 $factor*8 $textshadow,
    $factor*9 $factor*9 $textshadow,
    $factor*10 $factor*10 $textshadow,
    $factor*11 $factor*11 $textshadow,
    $factor*12 $factor*12 $textshadow,
    $factor*13 $factor*13 $textshadow,
    $factor*14 $factor*14 $textshadow,
    $factor*15 $factor*15 $textshadow,
    $factor*16 $factor*16 $textshadow;
}

$header-animation-time: 1s;

#greater-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: flex-direction $header-animation-time;
  transition-delay: $header-animation-time;
}

#nav-logo {
  position: relative;
  width: fit-content;
  white-space: pre;

  transition: margin-left 1s, transform 1s;
  transform: translate(-50%, 0);
  
  > * .extruded {
    transition: 1s all;
  }
}

.big-logo {
  margin-left: 35%;
  > * .extruded  {
    font-size: 10vw;
  }
}

.small-logo {
  margin-left: 50%;
  > * .extruded  {
    font-size: 3.5rem;
  }
}

.displaced {
  margin-left: 55%;
  > * .extruded {
    font-size: 6vw;
  }
}
.nondisplaced {
  margin-left: 50%;
}

#nav-buttons {
  width: fit-content;
  height: auto;
  transform: translate(-50%, 0);

  > * .extruded {
    transition: 1s ease all;
  }

  transition: 1s ease all;

  display: flex; // for the child labels
  flex-direction: row; // making labels sit beside eachother

  > a + a {
    margin-left: 4rem;
  }
}

.extruded {
  user-select: none;
  transition: text-shadow 500ms ease, transform 500ms ease;
  transform: translate(0.0ch, 0.0ch);
  @include extrusion(0.0125ch);
  &:hover {
    transform: translate(0.035ch, 0.035ch);
    @include extrusion(0.008ch);
  }
}

#content {
  min-height: calc(100vh - 100px);
}

#home-nav {
  transition: 1s ease all;
  opacity: 0;
  pointer-events: none;
}

#non-home-nav {
  transition: 1s ease all;
  // opacity: 1;
  pointer-events: all;
}

// .home-bg {
//   position: fixed;
//   top: 0;
//   background-color: $dark-brown;
//   width: 100vw;
//   height: 100vh;

//   & #home-nav {
//     opacity: 1;
//     pointer-events: all;
//   }

//   & #non-home-nav {
//     opacity: 0;
//     pointer-events: none;
//   }
// }

.nav-row {
  background-color: $dark-brown;
  margin-bottom: 1rem;
  height: fit-content;
}

.nav-text {
  font-family: "Inconsolata";
  font-weight: bold;
}

.foot-row {
  padding: 1rem;
  margin-bottom: 0rem;
  width: 100vw;
}

.container-fluid {
  background-color: $light-bg;
}

* {
  box-sizing: border-box;
}

* {
  border-color: #586e75;
  color: #586e75;
  --colorbox-foreground: #586e75;
  --colorbox-foreground-hovered: #58bad8;
}

.soft-shadow {
  box-shadow: 0px 0px 15px -8px $light-fg; //#eee8d5;
}

@mixin scaled-underline($sx: 0, $dir: bottom left) {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX($sx);
  height: 0.3ch;
  bottom: -0.1ch;
  left: 0;
  background-color: $light-fg;
  transform-origin: $dir;
  transition: transform 0.5s ease-out;
  z-index: -1;
}

.outgoing-link {
  user-select: none;
  white-space: pre;
  position: relative;
  width: fit-content;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 0.5ch;
    bottom: 0;
    left: 0;
    background-color: $light-fg;
    transform-origin: bottom left;
    transition: left 0.5s ease-out;
  }

  &:hover::after {
    left: 1ch;
  }
}

.selected-page {
  &::after {
    @include scaled-underline(1);
  }
}

.unselected-page {
  &::after {
    @include scaled-underline(0);
  }
}

.info-block {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1rem;
  height: fit-content;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.info-header {
  display: flex;
  > * {
    margin: auto;
    margin-bottom: 1rem;
  }
}

#about-nav {
  display: inline-flex;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.5rem;

  // > div + div {
  //   margin-left: 2rem;
  //   margin-right: 2rem;
  // }
}

.soft-dark-shadow {
  box-shadow: 0px 0px 10px $dark-brown;
}

.soft-radius {
  border-radius: 1rem;
}

.soft-radius-outer {
  border-radius: 2rem;
}

.soft-border {
  border: 1rem solid $light-fg;
}

.main-bg-color {
  background-color: $light-bg;
}

.tooltip-bg-color {
  background-color: $light-bg;
}

.classic-border {
  border: 5px solid $light-fg;
}
