html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fdf6e3;
}

$linkBlue: "#268bd2";

.nav-row {
  background-color: #4c4a44;
  margin-bottom: 1rem;
  height: fit-content;
}

.foot-row {
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.container-fluid {
  background-color: #fdf6e3;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: unset;
}

* {
  box-sizing: border-box;
}

* {
  border-color: #586e75;
  color: #586e75;
  --colorbox-foreground: #586e75;
  --colorbox-foreground-hovered: #58bad8;
}

.soft-shadow {
  box-shadow: 0px 0px 10px #eee8d5;
}

.soft-dark-shadow {
  box-shadow: 0px 0px 10px #4c4a44;
}

.soft-radius {
  border-radius: 1rem;
}

.main-bg-color {
  background-color: #fdf6e3;
}

.tooltip-bg-color {
  background-color: #fdf6e3 /* #faf7f0; */
}
