.masked-image-wrapper {
  display: flex;
  border: inherit;
  border-radius: inherit;
  width: 1000px;
  height: 1000px;
}
/* 
.masked-image-mask {
  -webkit-mask-image: url(/images/posts/QueriesPicture.png);
  mask-image:  url(/images/posts/QueriesPicture.png);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
  width: inherit;
  height: inherit;
} */

.masked-image-color-box {
  width: inherit;
  height: inherit;
}